/* General style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: hsl(228, 33%, 97%);
}

.container {
    display: flow;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    margin: 2em auto;
    background-color: hsl(228, 33%, 97%);
}

/* Text style */

@font-face {
    font-family: 'RubikBold';
    src: url('font/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    src: url('font/Rubik-Regular.ttf') format('truetype');
}

.blue-text {
    font-size: 16px;
    font-family: 'RubikBold', sans-serif;
    color: hsl(238, 40%, 52%);
}

.gray-text {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: hsl(222, 8%, 60%);
}

.grayBold-text {
    font-size: 16px;
    font-family: 'RubikBold', sans-serif;
    color: hsl(222, 8%, 60%);
}

.dark-text {
    font-size: 16px;
    font-family: 'RubikBold', sans-serif;
    color: hsl(212, 24%, 26%);
}

.red-text {
    font-size: 16px;
    font-family: 'RubikBold', sans-serif;
    color: hsl(358, 79%, 66%);
}

.white-text {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: hsl(0, 0%, 100%);
}

h1 {
    margin-inline: 0.5em;
}

/* Card style */

.card {
    width: 100%;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    margin-top: 2em;
}

.card-box {
    display: flow-root;
    margin: 1.5em;
    background-color: hsl(228, 33%, 97%);
    border-radius: 15px;
    width: 3em;
    height: 6em;
    position: relative;
}

.score-style {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    display: flow-root;
    width: 90%;
    margin: 1.5em 1.5em 1.5em 0em;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-message {
    margin-top: 1em;
    width: 100%;
}

.commentReply-container {
    left: 6%;
    border-left: 3px solid hsl(223, 19%, 93%);
    height: auto;
    position: relative;
    width: 94%;
}

.card-replies {

    width: inherit;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    margin-top: 2em;
    margin-left: auto;
}

.content {
    display: contents;
}

/* button and input style */
.card-comment {
    margin-top: 1em;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.5em;
    height: 8em;
    width: 100%;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.card-editReply {
    margin-left: 6%;
    width: 94%;
}

.comment-input {
    border-radius: 10px;
    border: 1px solid hsl(222, 8%, 60%);
    width: 70%;
    height: 100%;
    padding: 0.5em;
    resize: none;
}

.edit-input {
    border-radius: 10px;
    border: 1px solid hsl(222, 8%, 60%);
    width: 100%;
    height: 6em;
    padding: 0.5em;
    resize: none;
}

.send-button {
    background-color: hsl(238, 40%, 52%);
    border-radius: 10px;
    width: 12%;
    height: 2.5em;
    border: none;
}

.send-button:hover {
    cursor: pointer;
    background-color: hsl(238, 48%, 44%);
}

.update-button {
    background-color: hsl(238, 40%, 52%);
    border-radius: 10px;
    width: 15%;
    height: 2.5em;
    border: none;
    float: right;
}

.update-button:hover {
    cursor: pointer;
    background-color: hsl(238, 48%, 44%);
}

.label {
    position: absolute;
    z-index: 2;
    padding: 0.5em;
}

/* Image, ilustrations and icons style */

.user-image {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
}

.plus-icon {
    content: url(./images/icon-plus.svg);
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
}

.minus-icon {
    content: url(./images/icon-minus.svg);
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
}

.plus-icon:hover,
.minus-icon:hover {
    cursor: pointer;
}

/* Reply, Delete, Edit icons and buttons*/

.currentUser-content {
    background-color: hsl(238, 48%, 44%);
    height: auto;
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
    border-radius: 2px;
}

.card-reply {
    display: flex;
}

.card-reply:hover {
    cursor: pointer;
}

.disable-reply {
    pointer-events: none;
    display: flex;
    opacity: .5;
}

.disable-edit {
    pointer-events: none;
    display: flex;
    opacity: .5;
}

.disable-delete {
    pointer-events: none;
    display: flex;
    margin-right: 1.5em;
    opacity: .5;
}

.deleteEdit-content {
    display: flex;
}

.card-delete {
    margin-right: 1.5em;
}

.reply-icon {
    content: url(./images/icon-reply.svg);
    margin-right: 0.5em;
}

.edit-icon {
    content: url(./images/icon-edit.svg);
    margin-right: 0.5em;
}

.delete-icon {
    content: url(./images/icon-delete.svg);
    margin-right: 0.5em;
}

/* Modal Style */
.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 308px;
    padding: 1em;
    border-radius: 5px;
    display: block;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 1.5rem;
    animation-name: animatemodal;
    animation-duration: 0.4s;
}

.modal-textTitle {
    margin-bottom: 0.5em;
    font-size: 20px;
}

.modal-text {
    margin-bottom: 1em;
}

.modal-cancelButton,
.modal-deleteButton {
    border-radius: 10px;
    border: none;
    padding: 10px 14px;
    font-size: 1rem;
}

.modal-cancelButton {
    background-color: hsl(222, 8%, 60%);
}

.modal-deleteButton {
    background-color: hsl(358, 79%, 66%);
    margin-left: 1em;
}

.modal-cancelButton:hover,
.modal-deleteButton:hover {
    cursor: pointer;
}

/* animation part */
@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

/* Footer style */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}